In [1]:
from pyspark.sql import SparkSession

In [2]:
%load_ext sparksql_magic

In [3]:
spark = SparkSession.\
    builder.\
    enableHiveSupport().\
    appName("Spark SQL -predefined functions").\
    master("yarn").\
    getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [7]:
%%sparksql
show databases

In [8]:
#spark.sql("SHOW functions").show(1000, truncate=False)

In [9]:
%%sparksql
DESCRIBE FUNCTION substr

In [10]:
%%sparksql
DESCRIBE FUNCTION ||

In [11]:
orders = spark.read. \
    schema("order_id INT, order_date STRING, order_customer_id INT, order_status STRING"). \
    csv("/data/retail_db/orders")
orders.createOrReplaceTempView("orders_temp")

In [12]:
%%sparksql

SELECT current_date AS current_date

In [13]:
%%sparksql

SELECT substr('Hello World', 1, 5) AS result

In [16]:
%%sparksql

USE kevin_retail

In [18]:
%%sparksql

SELECT current_database()

In [17]:
%%sparksql

show tables

In [12]:
%%sparksql

DROP TABLE IF EXISTS dual

In [13]:
%%sparksql

CREATE TABLE dual (dummy STRING)

In [14]:
%%sparksql

INSERT INTO dual VALUES ('X')

In [19]:
%%sparksql

SELECT current_date AS current_date FROM dual

In [20]:
%%sparksql

SELECT substr('Hello World', 1, 5) AS result FROM dual

## String Manipulation Functions



- Case Conversion - lower, upper, initcap
- Getting size of the column value - length
- Extracting Data - substr and split
- Trimming and Padding functions - trim, rtrim, ltrim, rpad and lpad
- Reversing strings - reverse
- Concatenating multiple strings concat and concat_ws

In [17]:
%%sparksql
SELECT lower('hEllo wOrlD') AS lower_result,
    upper('hEllo wOrlD') AS upper_result,
    initcap('hEllo wOrlD') AS initcap_result

In [18]:
%%sparksql
SELECT length('hEllo wOrlD') AS result

In [19]:
%%sparksql 

SHOW tables

In [20]:
%%sparksql

SELECT * FROM orders LIMIT 10

### Case Conversion and Length

In [21]:
%%sparksql

SELECT order_id, order_date, order_customer_id,
    lower(order_status) AS order_status,
    length(order_status) AS order_status_length
FROM orders LIMIT 10

### Extracting Data - substr and split

In [22]:
%%sparksql

SELECT substr('2013-07-25 00:00:00.0', 1, 4) AS result

In [30]:
%%sparksql

SELECT order_id,
  substr(order_date, 1, 10) AS order_date,
  order_customer_id,
  order_status
FROM orders limit 5

In [24]:
#split converts delimited string into array.

In [31]:
%%sparksql
SELECT split('2013-07-25', '-') AS result

In [32]:
%%sparksql

SELECT split('2013-07-25', '-')[1] AS result

In [33]:
%%sparksql

SELECT explode(split('2013-07-25', '-')) AS result

### Trimming and Padding Functions

- ltrim is used to remove the spaces on the left side of the string.
- rtrim is used to remove the spaces on the right side of the string.
- trim is used to remove the spaces on both sides of the string.

In [34]:
%%sparksql

SELECT ltrim('     Hello World') AS result

In [35]:
%%sparksql

SELECT rtrim('     Hello World       ') AS result

In [36]:
%%sparksql

SELECT length(trim('     Hello World       ')) AS result

how to use padding to pad characters to a string.

- Let us assume that there are 3 fields - year, month and date which are of type integer.
- If we have to concatenate all the 3 fields and create a date, we might have to pad month and date with 0.
- lpad is used more often than rpad especially when we try to build the date from separate columns.

In [37]:
%%sparksql

SELECT 2013 AS year, 7 AS month, 25 AS myDate

In [38]:
%%sparksql

SELECT lpad(7, 2, 0) AS result

In [39]:
%%sparksql

SELECT lpad(100, 2, 0) AS result

### Reverse and Concatenating multiple strings

- We can use reverse to reverse a string.
- We can concatenate multiple strings using concat and concat_ws.
- concat_ws is typically used if we want to have the same string between all the strings that are being concatenated.

In [40]:
%%sparksql

SELECT reverse('Hello World') AS result

In [41]:
%%sparksql

SELECT concat('Hello', 'World') AS result

In [45]:
%%sparksql

SELECT concat('Order Status is ', order_status) AS result
FROM orders LIMIT 5

In [46]:
%%sparksql

SELECT * FROM (SELECT 2013 AS year, 7 AS month, 25 AS myDate) q

In [47]:
%%sparksql

SELECT concat(year, '-', lpad(month, 2, 0), '-',
              lpad(myDate, 2, 0)) AS order_date
FROM
    (SELECT 2013 AS year, 7 AS month, 25 AS myDate) q

In [48]:
%%sparksql

SELECT concat_ws('-', year, lpad(month, 2, 0),
              lpad(myDate, 2, 0)) AS order_date
FROM
    (SELECT 2013 AS year, 7 AS month, 25 AS myDate) q

## Date Manipulation Functions

- Getting Current Date and Timestamp
- Date Arithmetic such as date_add
- Getting beginning date or time using trunc or date_trunc
- Extracting information using date_format as well as calendar functions.
- Dealing with unix timestamp using from_unixtime, to_unix_timestamp

### Getting Current Date and Timestamp

- **current_date** is the function or operator which will return todayâ€™s date.
- **current_timestamp** is the function or operator which will return current time up to milliseconds.
- These are not like other functions and do not use *()* at the end.
- These are not listed as part of *SHOW functions* and we can get help using DESCRIBE.
- There is a format associated with date and timestamp.
- Date - yyyy-MM-dd
- Timestamp - yyyy-MM-dd HH:mm:ss.SSS
*Keep in mind that a date or timestamp in Spark SQL are nothing but special strings containing values using above specified formats. We can apply all string manipulation functions on date or timestamp.*

In [50]:
%%sparksql

SELECT current_date AS current_date

In [51]:
%%sparksql

SELECT current_date() AS current_date

In [52]:
%%sparksql

SELECT current_timestamp AS current_timestamp

### Date Arithmetic

- **date_add** can be used to add or subtract days.
- **date_sub** can be used to subtract or add days.
- **datediff** can be used to get difference between 2 dates
- **add_months** can be used add months to a date

In [53]:
%%sparksql

SELECT date_add(current_date, 32) AS result

In [54]:
%%sparksql

SELECT date_add('2018-04-15', 730) AS result

In [59]:
%%sparksql

SELECT date_add('2020-04-14', -730) AS result

In [60]:
%%sparksql

SELECT datediff('2019-03-30', '2017-12-31') AS result

In [62]:
%%sparksql

SELECT add_months(current_date, 3) AS result

### Beginning Date or Time - trunc and date_trunc

- We can use MM to get beginning date of the month.
- YY can be used to get begining date of the year.
- We can apply trunc either on date or timestamp, however we cannot apply it other than month or year (such an hour or day).

In [63]:
%%sparksql

DESCRIBE FUNCTION trunc

In [64]:
%%sparksql

SELECT trunc(current_date, 'MM') AS beginning_date_month

In [65]:
%%sparksql

SELECT trunc('2019-01-23', 'MM') AS beginning_date_month

In [66]:
%%sparksql

SELECT trunc(current_date, 'YY') AS beginning_date_year

#### Below does not work

In [70]:
%%sparksql

SELECT trunc(current_timestamp, 'HH') AS doesnt_work

While **trunc** can be used to get beginning time of a given month or year, we can get the beginning time up to Second using date_trunc.

In [71]:
%%sparksql

SELECT date_trunc('HOUR', current_timestamp) AS hour_beginning

### Extracting information using date_format

In [74]:
%%sparksql
DESCRIBE FUNCTION date_format

In [75]:
%%sparksql
SELECT current_timestamp AS current_timestamp, 
    date_format(current_timestamp, 'yyyy') AS year

In [76]:
%%sparksql
SELECT current_timestamp AS current_timestamp, 
    date_format(current_timestamp, 'yy') AS year

In [77]:
%%sparksql
SELECT current_timestamp AS current_timestamp, 
    date_format(current_timestamp, 'dd') AS day_of_month

In [78]:
%%sparksql

SELECT current_timestamp AS current_timestamp, 
    date_format(current_timestamp, 'DD') AS day_of_year

In [79]:
%%sparksql

SELECT current_timestamp AS current_timestamp, 
    date_format(current_timestamp, 'MMM') AS month_name

In [80]:
%%sparksql

SELECT current_timestamp AS current_timestamp, 
    date_format(current_timestamp, 'MM') AS month_name

In [81]:
%%sparksql

SELECT current_timestamp AS current_timestamp, 
    date_format(current_timestamp, 'EE') AS dayname

In [82]:
%%sparksql

SELECT current_timestamp AS current_timestamp, 
    date_format(current_timestamp, 'EEEE') AS dayname

Here is how we can get time related information such as hour, minute, seconds, milliseconds etc from timestamp.

In [83]:
%%sparksql
SELECT current_timestamp AS current_timestamp, 
    date_format(current_timestamp, 'HH') AS hour24

In [84]:
%%sparksql

SELECT current_timestamp AS current_timestamp, 
    date_format(current_timestamp, 'hh') AS hour12

In [89]:
%%sparksql

SELECT current_timestamp AS current_timestamp, 
    date_format(current_timestamp, 'mm') AS minutes

In [88]:
%%sparksql
SELECT current_timestamp AS current_timestamp, 
    date_format(current_timestamp, 'ss') AS seconds

In [90]:
%%sparksql

SELECT date_format(current_timestamp, 'yyyyMM') AS current_month

In [91]:
%%sparksql

SELECT date_format(current_timestamp, 'yyyy/MM/dd') AS current_date

### Extracting information - Calendar functionsÂ¶

- We can get year, month, day etc from date or timestamp using functions. 
- There are functions such as day, dayofmonth, month, weekofyear, year etc available for us.

In [93]:
spark.sql("DESCRIBE FUNCTION day").show(truncate=False)

+------------------------------------------------------------------+
|function_desc                                                     |
+------------------------------------------------------------------+
|Function: day                                                     |
|Class: org.apache.spark.sql.catalyst.expressions.DayOfMonth       |
|Usage: day(date) - Returns the day of month of the date/timestamp.|
+------------------------------------------------------------------+

In [94]:
spark.sql("DESCRIBE FUNCTION day").show(truncate=False)

+------------------------------------------------------------------+
|function_desc                                                     |
+------------------------------------------------------------------+
|Function: day                                                     |
|Class: org.apache.spark.sql.catalyst.expressions.DayOfMonth       |
|Usage: day(date) - Returns the day of month of the date/timestamp.|
+------------------------------------------------------------------+

In [95]:
spark.sql("DESCRIBE FUNCTION month").show(truncate=False)

+-----------------------------------------------------------------------+
|function_desc                                                          |
+-----------------------------------------------------------------------+
|Function: month                                                        |
|Class: org.apache.spark.sql.catalyst.expressions.Month                 |
|Usage: month(date) - Returns the month component of the date/timestamp.|
+-----------------------------------------------------------------------+

In [99]:
%%sparksql
DESCRIBE FUNCTION weekofyear

In [98]:
spark.sql("DESCRIBE FUNCTION year").show(truncate=False)

+---------------------------------------------------------------------+
|function_desc                                                        |
+---------------------------------------------------------------------+
|Function: year                                                       |
|Class: org.apache.spark.sql.catalyst.expressions.Year                |
|Usage: year(date) - Returns the year component of the date/timestamp.|
+---------------------------------------------------------------------+

In [100]:
%%sparksql

SELECT year(current_date) AS year

In [103]:
%%sparksql

SELECT month(current_date) AS month

In [104]:
%%sparksql

SELECT weekofyear(current_date) AS weekofyear

In [105]:
%%sparksql

SELECT day(current_date) AS day

In [106]:
%%sparksql

SELECT dayofmonth(current_date) AS dayofmonth

### Dealing with Unix TimestampÂ¶

- **from_unixtime** can be used to convert Unix epoch to regular timestamp.
- **unix_timestamp** or **to_unix_timestamp** can be used to convert timestamp to Unix epoch.
- We can get Unix epoch or Unix timestamp by running date **+%s** in Unix/Linux terminal
- We can DESCRIBE on the above functions to get details about them.

In [107]:
%%sparksql

SELECT from_unixtime(1556662731) AS timestamp

In [108]:
%%sparksql

SELECT to_unix_timestamp('2019-04-30 18:18:51') AS unixtime

In [109]:
%%sparksql

SELECT from_unixtime(1556662731, 'yyyyMM') AS month

In [110]:
%%sparksql

SELECT from_unixtime(1556662731, 'yyyy-MM-dd') AS date

In [111]:
%%sparksql

SELECT from_unixtime(1556662731, 'yyyy-MM-dd HH:mm') AS timestamp

In [112]:
%%sparksql

SELECT from_unixtime(1556662731, 'yyyy-MM-dd hh:mm') AS timestamp

In [115]:
%%sparksql

SELECT to_unix_timestamp('20190430', 'yyyyMMdd') AS date

### Overview of Numeric Functions

- **abs** - always return positive number
- **sum, avg**
- **round** - rounds off to specified precision
- **ceil, floor** - always return integer.
- **greatest**
- **min, max**
- **rand**
- **pow, sqrt**
- **cumedist, stddev, variance**

In [4]:
%%sparksql

SELECT abs(-10.5), abs(10)

In [6]:
%%sparksql
Describe function abs

In [9]:
%%sparksql

use kevin_retail

In [10]:
%%sparksql
show tables

In [11]:
%%sparksql

SELECT order_item_order_id, order_item_subtotal FROM order_items
WHERE order_item_order_id = 2

In [12]:
%%sparksql

SELECT avg(order_item_subtotal) AS order_revenue_avg FROM order_items
WHERE order_item_order_id = 2

In [15]:

%%sparksql
SELECT order_item_order_id, 
    avg(order_item_subtotal) AS order_revenue_avg 
FROM order_items
GROUP BY order_item_order_id
order by order_item_order_id desc
LIMIT 10

In [16]:
%%sparksql

SELECT
    round(10.58) rnd,
    floor(10.58) flr,
    ceil(10.58) cl

In [17]:
%%sparksql

SELECT
    round(10.44) rnd1,
    round(10.44, 1) rnd1,
    round(10.46, 1) rnd2,
    floor(10.44) flr,
    ceil(10.44) cl

In [24]:
%%sparksql

SELECT
    round(10.44) rnd1,
    round(10.44, 1) rnd1,
    round(10.46, 2) rnd2,
    floor(10.44) flr,
    ceil(10.44) cl

In [19]:
%%sparksql

SELECT avg(order_item_subtotal) AS order_revenue_avg FROM order_items
WHERE order_item_order_id = 2

In [20]:
%%sparksql

SELECT round(avg(order_item_subtotal), 2) AS order_revenue_avg 
FROM order_items
WHERE order_item_order_id = 2

In [25]:
%%sparksql

SELECT order_item_order_id, 
    round(avg(order_item_subtotal), 2) AS order_revenue_avg 
FROM order_items
GROUP BY order_item_order_id
LIMIT 10

In [26]:
%%sparksql

SELECT order_item_order_id, 
    round(sum(order_item_subtotal), 2) AS order_revenue_sum
FROM order_items
GROUP BY order_item_order_id
LIMIT 10

In [28]:
%%sparksql

SELECT greatest(10, 11, 13, -13)

In [29]:
%%sparksql

SELECT rand() AS rand

In [30]:
%%sparksql

SELECT cast(round(rand() * 1) AS int) AS random_int

In [33]:
from pyspark.sql.functions import explode

In [39]:
%%sparksql

SELECT order_item_order_id, 
    round(sum(order_item_subtotal), 2) AS order_revenue_sum,
    min(order_item_subtotal) AS order_item_subtotal_min,
    max(order_item_subtotal) AS order_item_subtotal_max 
FROM order_items
GROUP BY order_item_order_id
LIMIT 10

In [42]:
%%sparksql

SELECT order_item_order_id, order_item_subtotal
FROM order_items
WHERE order_item_order_id = 2

In [43]:
%%sparksql

SELECT round(sum(order_item_subtotal), 2) AS order_revenue_sum,
    min(order_item_subtotal) AS order_item_subtotal_min,
    max(order_item_subtotal) AS order_item_subtotal_max 
FROM order_items
WHERE order_item_order_id = 2

### Data Type Conversion

In [44]:
%%sparksql

SELECT current_date AS current_date

In [45]:
%%sparksql

SELECT split(current_date, '-')[1] AS month

In [49]:
%%sparksql

SELECT split(current_date, '-') AS month

In [50]:
%%sparksql

SELECT cast(split(current_date, '-')[1] AS INT) AS month

In [51]:
%%sparksql

SELECT cast('0.04' AS FLOAT) AS result

In [52]:
%%sparksql

SELECT cast('0.04' AS INT) AS zero

In [53]:
%%sparksql

SELECT cast('xyz' AS INT) AS returns_null

In [54]:
%%sparksql

CREATE EXTERNAL TABLE IF NOT EXISTS orders_single_column (s STRING
) LOCATION '/user/hive/warehouse/kevin_retail.db/orders'

In [55]:
%%sparksql

SELECT * FROM orders_single_column LIMIT 10

In [57]:
%%sparksql

SELECT split(s, ',')[0] AS order_id,
    split(s, ',')[1] AS order_date,
    split(s, ',')[2] AS order_customer_id,
    split(s, ',')[3] AS order_status
FROM orders_single_column LIMIT 10

In [58]:
%%sparksql

SELECT cast(split(s, ',')[0] AS INT) AS order_id,
    cast(split(s, ',')[1] AS TIMESTAMP) AS order_date,
    cast(split(s, ',')[2] AS INT) AS order_customer_id,
    cast(split(s, ',')[3] AS STRING) AS order_status
FROM orders_single_column LIMIT 10

### Handling NULL Values


- By default if we try to add or concatenate null to another column or expression or literal, it will return null.
- If we want to replace null with some default value, we can use **nvl**. For not null values, nvl returns the original expression value.
  - Replace commission_pct with 0 if it is null.
  - We can also use **coalesce** in the place of **nvl**.
- **coalesce** returns first not null value if we pass multiple arguments to it.
- **nvl2** can be used to perform one action when the value is not null and some other action when the value is null.
  -  We want to increase commission_pct by 1 if it is not null and set commission_pct to 2 if it is null.
- We can also use **CASE WHEN ELSE END** for any conditional logic.

In [59]:
%%sparksql

SELECT 1 + NULL AS result

In [60]:
%%sparksql

SELECT concat('Hello', NULL) AS result

In [61]:
%%sparksql

SELECT nvl(1, 0) nvl, coalesce(1, 0) AS coalesce

In [62]:
%%sparksql

SELECT coalesce(NULL, NULL, 2, NULL, 3) AS result

In [63]:
%%sparksql

SELECT nvl(NULL, NULL, 2, NULL, 3) AS result

AnalysisException: Invalid number of arguments for function nvl. Expected: 2; Found: 5; line 2 pos 7

In [64]:
%%sparksql

CREATE TABLE IF NOT EXISTS sales(
    sales_person_id INT,
    sales_amount FLOAT,
    commission_pct INT
)

In [65]:
%%sparksql

INSERT INTO sales VALUES
    (1, 1000, 10),
    (2, 1500, 8),
    (3, 500, NULL),
    (4, 800, 5),
    (5, 250, NULL)

In [66]:
%%sparksql

SELECT * FROM sales

In [67]:
%%sparksql

SELECT s.*, 
    nvl(commission_pct, 0) AS commission_pct
FROM sales AS s

In [68]:
%%sparksql

SELECT s.*, 
    coalesce(commission_pct, 0) AS commission_pct
FROM sales AS s

In [69]:
%%sparksql

SELECT s.*, 
    round(sales_amount * commission_pct / 100, 2) AS incorrect_commission_amount
FROM sales AS s

In [70]:
%%sparksql

SELECT s.*, 
    round(sales_amount * nvl(commission_pct, 0) / 100, 2) AS commission_amount
FROM sales AS s

In [71]:
%%sparksql

SELECT s.*, 
    round(sales_amount * coalesce(commission_pct, 0) / 100, 2) AS commission_amount
FROM sales AS s

In [72]:
%%sparksql

SELECT s.*, 
    nvl2(commission_pct, commission_pct + 1, 2) AS commission_pct
FROM sales AS s

In [73]:
%%sparksql

SELECT s.*, 
    round(sales_amount * nvl2(commission_pct, commission_pct + 1, 2) / 100, 2) AS commission_amount
FROM sales AS s

In [74]:
%%sparksql

SELECT s.*, 
    CASE WHEN commission_pct IS NULL 
        THEN 2
        ELSE commission_pct + 1
    END AS commission_pct
FROM sales AS s

In [76]:
%%sparksql

SELECT s.*, 
    CASE WHEN commission_pct IS NOT NULL 
        THEN commission_pct + 1
        ELSE 2
    END AS commission_pct
FROM sales AS s

In [22]:
%%sparksql

SELECT s.*, 
    CASE 
    WHEN commission_pct IS NULL 
        THEN round((sales_amount * 2 / 100), 2)
        ELSE round((sales_amount * (commission_pct + 1)/ 100), 2)
    END AS commission_amount
FROM sales AS s

## Using CASE and WHEN


- We can use **CASE** and **WHEN** for that.
- Let us implement this conditional logic to come up with derived order_status.
    - If order_status is COMPLETE or CLOSED, set COMPLETED
    - If order_status have PENDING in it, then we will say PENDING
    - If order_status have PROCESSING or PAYMENT_REVIEW in it, then we will say PENDING
    - We will set all others as OTHER
- We can also have **ELSE** as part of **CASE and WHEN**.

In [78]:
%%sparksql

SELECT DISTINCT order_status FROM orders LIMIT 10

In [80]:
%%sparksql
SELECT o.*,
    CASE 
    WHEN order_status IN ('COMPLETE', 'CLOSED') THEN 'COMPLETED'
    END AS updated_order_status
FROM orders o
LIMIT 10

In [81]:
%%sparksql
SELECT o.*,
    CASE 
    WHEN order_status IN ('COMPLETE', 'CLOSED') THEN 'COMPLETED'
    ELSE order_status
    END AS updated_order_status
FROM orders o
LIMIT 10

In [82]:
%%sparksql

SELECT o.*,
    CASE 
        WHEN order_status IN ('COMPLETE', 'CLOSED') THEN 'COMPLETED'
        WHEN order_status LIKE '%PENDING%' THEN 'PENDING'
        ELSE 'OTHER'
    END AS updated_order_status
FROM orders o
LIMIT 10

In [83]:
%%sparksql

SELECT o.*,
    CASE 
        WHEN order_status IN ('COMPLETE', 'CLOSED') THEN 'COMPLETED'
        WHEN order_status LIKE '%PENDING%' OR order_status IN ('PROCESSING', 'PAYMENT_REVIEW')
            THEN 'PENDING'
        ELSE 'OTHER'
    END AS updated_order_status
FROM orders o
LIMIT 10

In [84]:
%%sparksql

SELECT DISTINCT order_status,
    CASE 
        WHEN order_status IN ('COMPLETE', 'CLOSED') THEN 'COMPLETED'
        WHEN order_status LIKE '%PENDING%' OR order_status IN ('PROCESSING', 'PAYMENT_REVIEW')
            THEN 'PENDING'
        ELSE 'OTHER'
    END AS updated_order_status
FROM orders
ORDER BY updated_order_status

### Query Example - Word Count

- Create table by name lines.
- Insert data into the table.
- Split lines into array of words.
- Explode array of words from each line into individual records.
- Use group by and get the count. We cannot use GROUP BY directly on exploded records and hence we need to use nested sub query.

In [24]:
%%sparksql

DROP DATABASE IF EXISTS wordCount_demo CASCADE

In [25]:
%%sparksql
CREATE DATABASE IF NOT EXISTS wordCount_demo

In [27]:
%%sparksql

USE wordCount_demo

In [29]:
%%sparksql

CREATE TABLE lines (s STRING)

In [30]:
%%sparksql

INSERT INTO lines VALUES
  ('Hello World'),
  ('How are you'),
  ('Let us perform the word count'),
  ('The definition of word count is'),
  ('to get the count of each word from this data')

In [31]:
%%sparksql

SELECT * FROM lines

In [32]:
%%sparksql

SELECT split(s, ' ') AS word_array FROM lines

In [33]:
%%sparksql

SELECT * FROM lines

In [34]:
%%sparksql

SELECT split(s, ' ') AS word_array FROM lines

In [35]:
%%sparksql

SELECT explode(split(s, ' ')) AS words FROM lines

only showing top 20 row(s)

In [36]:
%%sparksql

SELECT count(1) FROM (SELECT explode(split(s, ' ')) AS words FROM lines)

In [37]:
%%sparksql

SELECT explode(split(s, ' ')) AS words, count(1) FROM lines
GROUP BY explode(split(s, ' '))

AnalysisException: The generator is not supported: outside the SELECT clause, found: Aggregate [explode(split(s#131,  , -1))], [split(s#131,  , -1) AS _gen_input_0#133, count(1) AS count(1)#132L]

In [41]:
%%sparksql

SELECT initcap(word), count(1) FROM (
  SELECT explode(split(s, ' ')) AS word FROM lines
) q
GROUP BY word
order by word asc

only showing top 20 row(s)

In [43]:
%%sparksql

SELECT count(1) FROM
(
    SELECT word, count(1) FROM (
        SELECT explode(split(s, ' ')) AS word FROM lines
    ) q
    GROUP BY word
)