In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.\
    builder.\
    enableHiveSupport().\
    appName("Spark SQL -Windowing Functions").\
    master("yarn").\
    getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
%colors LightBG

In [4]:
%load_ext sparksql_magic

In [5]:
%load_ext sql

In [5]:
%%sparksql

DROP DATABASE if exists kevin_hr CASCADE

In [6]:
%%sparksql

CREATE DATABASE if not exists kevin_hr

In [6]:
%%sparksql

USE kevin_hr

In [7]:
%%sparksql

select current_database()

In [9]:
%%sparksql
CREATE TABLE employees (
  employee_id     int,
  first_name      varchar(20),
  last_name       varchar(25),
  email           varchar(25),
  phone_number    varchar(20),
  hire_date       date,
  job_id          varchar(10),
  salary          decimal(8,2),
  commission_pct  decimal(2,2),
  manager_id      int,
  department_id   int
) ROW FORMAT DELIMITED FIELDS TERMINATED BY '\t'

In [10]:
%%sparksql

LOAD DATA LOCAL INPATH '/home/hadoop/data/data/hr_db/employees' 
INTO TABLE employees

In [11]:
%%sparksql

SELECT * FROM employees LIMIT 5

In [12]:
%%sparksql

SELECT employee_id, department_id, salary FROM employees LIMIT 5

In [13]:
%%sparksql

SELECT count(1) FROM employees

### Overview of Windowing Functions

These are also known as Analytic Functions in Databases like Oracle.

- Aggregate Functions **(sum, min, max, avg)**
- Window Functions **(lead, lag, first_value, last_value)**
- Rank Functions **(rank, dense_rank, row_number etc)**
- For all the functions we use **OVER** clause.
- For aggregate functions we typically use **PARTITION BY**
- For ranking and windowing functions we might use **ORDER BY** sorting_column or **PARTITION BY** partition_column **ORDER BY** sorting_column.

With LAG(), you must specify an ORDER BY in the OVER clause, with a column or a list of columns by which the rows should be sorted.

In [14]:
%%sparksql

SELECT employee_id, department_id, salary FROM employees LIMIT 5

In [16]:
%%sparksql

SELECT employee_id, department_id, salary,
    count(1) OVER (PARTITION BY department_id) AS employee_count,
    rank() OVER (ORDER BY salary DESC) AS rnk,
    lead(employee_id) OVER (PARTITION BY department_id ORDER BY salary DESC) AS lead_emp_id,
    lead(salary) OVER (PARTITION BY department_id ORDER BY salary DESC) AS lead_emp_sal
FROM employees
ORDER BY employee_id
limit 10

### Aggregations using Windowing Functions
Aggregations with in a partition or group using Windowing/Analytics Functions.

- For simple aggregations where we have to get grouping key and aggregated results we can use **GROUP BY**.
- If we want to get the raw data along with aggregated results, then using *GROUP BY* is not possible or overly complicated.
- Using aggregate functions with **OVER** Clause not only simplifies the process of writing query, but also better with respect to performance.
- Let us take an example of getting employee salary percentage when compared to department salary expense.

>getting individual employee salary

In [17]:
%%sparksql

SELECT employee_id, department_id, salary 
FROM employees 
ORDER BY department_id, salary
LIMIT 10

In [22]:
%%sparksql

SELECT count(employee_id),department_id,
       sum(salary) AS department_salary_expense,
        round(avg(salary),2) AS department_avg_salary
FROM employees
GROUP BY department_id
ORDER BY department_id

Below **self-join** to get individual salaries along with departmentwise expense

In [10]:
%%time
%%sparksql

SELECT e.employee_id, e.department_id, e.salary,
       ae.department_salary_expense,
       ae.avg_salary_expense
FROM employees e JOIN (
     SELECT department_id, 
            sum(salary) AS department_salary_expense,
            round(avg(salary),2) AS avg_salary_expense
     FROM employees
     GROUP BY department_id
) ae
ON e.department_id = ae.department_id
ORDER BY department_id, salary
limit 5

CPU times: user 0 ns, sys: 19.8 ms, total: 19.8 ms
Wall time: 2.03 s

>Let us see how we can get above using Analytics/Windowing Functions.
>We can use all standard aggregate functions such as **count, sum, min, max, avg etc.**

In [29]:
%%time
%%sparksql


SELECT e.employee_id, e.department_id, e.salary,
       sum(e.salary) OVER (PARTITION BY e.department_id) AS department_salary_expense,
       round(avg(e.salary)  OVER(PARTITION BY e.department_id),2) as av_salary_de
        
FROM employees e
ORDER BY e.department_id
limit 5

CPU times: user 3.68 ms, sys: 15.2 ms, total: 18.9 ms
Wall time: 1.27 s

In [31]:
%%sparksql

SELECT e.employee_id, e.department_id, e.salary,
    sum(e.salary) OVER (PARTITION BY e.department_id) AS sum_sal_expense,
    round(avg(e.salary) OVER (PARTITION BY e.department_id),2) AS avg_sal_expense,
    min(e.salary) OVER (PARTITION BY e.department_id) AS min_sal_expense,
    max(e.salary) OVER (PARTITION BY e.department_id) AS max_sal_expense,
    count(e.salary) OVER (PARTITION BY e.department_id) AS cnt_sal_expense
FROM employees e
ORDER BY e.department_id

only showing top 20 row(s)

### Create tables to get daily revenue

- We have ORDERS and ORDER_ITEMS tables.
- Let us take care of computing daily revenue as well as daily product revenue.
- As we will be using same data set several times, let us create the tables to pre compute the data.
- daily_revenue will have the order_date and revenue, where data is aggregated using order_date as partition key.
- daily_product_revenue will have order_date, order_item_product_id and revenue. In this case data is aggregated using order_date and order_item_product_id as partition keys.

In [5]:
%%sparksql

USE kevin_retail

In [6]:
%%sparksql
show tables

In [35]:
%%sparksql

DROP TABLE IF EXISTS daily_revenue

In [40]:
##%%sparksql
##describe order_items

Creating table to compute daily revenue

In [36]:
%%sparksql

CREATE TABLE daily_revenue
AS
SELECT o.order_date,
       round(sum(oi.order_item_subtotal), 2) AS revenue
FROM orders o JOIN order_items oi
ON o.order_id = oi.order_item_order_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY o.order_date

In [7]:
%%sparksql

SELECT * 
FROM daily_revenue
ORDER BY order_date
LIMIT 5

 create table to compute daily product revenue

In [41]:
%%sparksql

DROP TABLE IF EXISTS daily_product_revenue

In [42]:
%%sparksql

CREATE TABLE daily_product_revenue
AS
SELECT o.order_date, oi.order_item_product_id,
       round(sum(oi.order_item_subtotal), 2) AS revenue
    
FROM orders o JOIN order_items oi
ON o.order_id = oi.order_item_order_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY o.order_date, oi.order_item_product_id

In [43]:
%%sparksql

SELECT * 
FROM daily_product_revenue
ORDER BY order_date, order_item_product_id
LIMIT 5

### Getting LEAD and LAG values

In [44]:
%%sparksql

SELECT * FROM daily_revenue
ORDER BY order_date DESC
LIMIT 5

In [45]:
%%sparksql

SELECT t.*,
  lead(order_date) OVER (ORDER BY order_date DESC) AS prior_date,
  lead(revenue) OVER (ORDER BY order_date DESC) AS prior_revenue
FROM daily_revenue t
ORDER BY order_date DESC
LIMIT 10

passing number of rows as well as default values for nulls as arguments.

In [46]:
%%sparksql

SELECT t.*,
  lead(order_date, 7) OVER (ORDER BY order_date DESC) AS prior_date,
  lead(revenue, 7) OVER (ORDER BY order_date DESC) AS prior_revenue

FROM daily_revenue t
ORDER BY order_date DESC
LIMIT 10

Passing 0 where there is null and **nodate** where no date

In [48]:
%%sparksql

SELECT t.*,

  lead(order_date, 7, 'nodate') OVER (ORDER BY order_date DESC) AS prior_date,
  lead(revenue, 7, 0) OVER (ORDER BY order_date DESC) AS prior_revenue

FROM daily_revenue t
ORDER BY order_date
LIMIT 10

>get prior or following records with in a group based on particular order.

>get prior or following records based on PARTITION BY and then ORDER BY Clause.

In [50]:
%%sparksql
SELECT * FROM daily_product_revenue LIMIT 5

In [9]:
%%sparksql

SELECT t.*,
  LEAD(order_item_product_id) OVER (PARTITION BY order_date ORDER BY revenue DESC) next_product_id,
  LEAD(revenue) OVER (PARTITION BY order_date ORDER BY revenue DESC) next_revenue

FROM daily_product_revenue t
ORDER BY order_date, revenue DESC
LIMIT 10

>passing number of rows as well as default values for nulls as arguments.

In [20]:
%%sparksql

SELECT t.*,
  LEAD(order_item_product_id) OVER (PARTITION BY order_date ORDER BY revenue DESC) next_product_id,
  LEAD(revenue, 1, 0) OVER (PARTITION BY order_date ORDER BY revenue DESC) next_revenue
FROM daily_product_revenue t
LIMIT 100

In [19]:
%config SparkSql.limit

100

In [18]:
%config SparkSql.limit=100

### Getting first and last values
>get first and last value based on the criteria. We can also use min or max as well.

In [23]:
%%sparksql
select current_database()

In [26]:
%%sparksql
SELECT t.*,
  first_value(order_item_product_id) OVER (PARTITION BY order_date ORDER BY revenue DESC) first_product_id,
  first_value(revenue) OVER (PARTITION BY order_date ORDER BY revenue DESC) first_revenue
FROM daily_product_revenue t
ORDER BY order_date, revenue DESC
LIMIT 100

>While using last_value we need to specify ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING/PRECEEDING.

In [27]:
%%sparksql

SELECT t.*,
  last_value(order_item_product_id) OVER (PARTITION BY order_date ORDER BY revenue
    ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING) last_product_id,
  last_value(revenue) OVER (PARTITION BY order_date ORDER BY revenue
    ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING)  last_revenue
FROM daily_product_revenue AS t
ORDER BY order_date, revenue DESC
LIMIT 100

### Ranking using Windowing Functions

- If we have to get ranks globally, we just need to specify **ORDER BY**
- If we have to get ranks with in a key then we need to specify **PARTITION BY** and then **ORDER BY**.
- By default ***ORDER BY*** will sort the data in ascending order. We can change the order by passing ***DESC*** after ***order by***.

In [30]:
%%sparksql

SELECT t.*,
  rank() OVER (PARTITION BY order_date ORDER BY revenue DESC) AS rnk
FROM daily_product_revenue t
ORDER BY order_date, revenue DESC
LIMIT 10

In [6]:
%%sparksql
use kevin_hr

#### Understand the difference between **rank**, **dense_rank** and **row_number**.

- We can either of the functions to generate ranks when the rank field does not have duplicates.
- When rank field have duplicates then row_number should not be used as it generate unique number for each record with in the partition.
- rank will skip the ranks in between if multiple people get the same rank while dense_rank continue with the next number

In [7]:
%%sparksql

SELECT
  employee_id,department_id,salary,
  rank() OVER (PARTITION BY department_id ORDER BY salary DESC) rnk,
  dense_rank() OVER (PARTITION BY department_id ORDER BY salary DESC) drnk,
  row_number() OVER (PARTITION BY department_id ORDER BY salary DESC) rn
FROM employees
ORDER BY department_id, salary DESC

only showing top 20 row(s)

### Understanding order of execution of SQL

- order of writing the query.

>SELECT

>FROM

>JOIN or OUTER JOIN with ON

>WHERE

>GROUP BY and optionally HAVING

>ORDER BY


- However order of execution is different.

    FROM

    JOIN or OUTER JOIN with ON

    WHERE

    GROUP BY and optionally HAVING

    SELECT

    ORDER BY

>As SELECT is executed before ORDER BY Clause, we will not be able to refer the aliases in SELECT in other clauses except for ORDER BY.

In [8]:
%%sparksql
use  kevin_retail

In [9]:
%%sparksql

SELECT o.order_date,round(sum(oi.order_item_order_id), 2) AS revenue
FROM orders o JOIN order_items oi
ON o.order_id = oi.order_item_order_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY o.order_date
ORDER BY o.order_date
LIMIT 10

In [41]:
%%sparksql

SELECT o.order_date,round(sum(oi.order_item_order_id), 2) AS revenue
FROM orders o JOIN order_items oi
ON o.order_id = oi.order_item_order_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY o.order_date
    HAVING revenue >= 2000000
ORDER BY order_date
LIMIT 10

### Overview of Nested Sub Queries

- We typically have Nested Sub Queries in **FROM** Clause.
- We need to provide **alias** to the Nested Sub Queries in **FROM** Clause in *Hive*.
- We use nested queries quite often over queries using Analytics/Windowing Functions
- We can achieve using HAVING clause (no need to be nested to filter)

In [10]:
%%sparksql

SELECT * FROM (SELECT current_date) AS q

In [12]:
%%sparksql

SELECT * FROM (
  SELECT order_date, count(1) AS order_count
  FROM orders
  GROUP BY order_date
) q
LIMIT 10

In [18]:
%%sparksql

SELECT * FROM (
  SELECT order_date, count(1) AS order_count
  FROM orders
  GROUP BY order_date
) q
WHERE q.order_count > 0
limit 5

### Filtering - Window Function Results

- We can use *Window Functions* only in *SELECT* Clause.
- If we have to filter based on Window Function results, then we need to use Nested Sub Queries.
- Once the query is nested, we can apply filter using aliases of the Window Functions.

In [20]:
%%sparksql

SELECT * FROM (
  SELECT t.*,
    dense_rank() OVER (PARTITION BY order_date ORDER BY revenue DESC) AS drnk
  FROM daily_product_revenue t
) q
WHERE drnk <= 5
ORDER BY q.order_date, q.revenue DESC

only showing top 20 row(s)

### Ranking and Filtering - Recap

- We have our original data in orders and order_items
- We can pre-compute the data or create a view with the logic to generate daily product revenue
- Then, we have to use the view or table or even nested query to compute rank
- Once the ranks are computed, we need to nest it to filter based up on our requirement.

In [21]:
%%sparksql

USE kevin_retail

In [22]:
%%sparksql

DESCRIBE orders

In [23]:
%%sparksql

DESCRIBE order_items

the query to compute daily product revenue.

In [24]:
%%sparksql

SELECT o.order_date,oi.order_item_product_id,
       round(sum(oi.order_item_subtotal), 2) AS revenue
FROM orders o JOIN order_items oi
ON o.order_id = oi.order_item_order_id
WHERE o.order_status IN ('COMPLETE', 'CLOSED')
GROUP BY o.order_date, oi.order_item_product_id
ORDER BY o.order_date, revenue DESC
LIMIT 100

only showing top 20 row(s)

computing the rank for each product with in each date using revenue as criteria.

In [25]:
%%sparksql

SELECT q.*,
  rank() OVER (PARTITION BY order_date ORDER BY revenue DESC) AS rnk
FROM (SELECT o.order_date, oi.order_item_product_id,
        round(sum(oi.order_item_subtotal), 2) AS revenue
      FROM orders o JOIN order_items oi
      ON o.order_id = oi.order_item_order_id
      WHERE o.order_status IN ('COMPLETE', 'CLOSED')
      GROUP BY o.order_date, oi.order_item_product_id) q
ORDER BY order_date, revenue DESC
LIMIT 35

only showing top 20 row(s)

filtering the data.

In [26]:
%%sparksql

SELECT * FROM (SELECT q.*,
  dense_rank() OVER (PARTITION BY order_date ORDER BY revenue DESC) AS drnk
FROM (SELECT o.order_date, oi.order_item_product_id,
        round(sum(oi.order_item_subtotal), 2) AS revenue
      FROM orders o JOIN order_items oi
      ON o.order_id = oi.order_item_order_id
      WHERE o.order_status IN ('COMPLETE', 'CLOSED')
      GROUP BY o.order_date, oi.order_item_product_id) q) q1
WHERE drnk <= 5
ORDER BY order_date, revenue DESC
LIMIT 35

only showing top 20 row(s)

In [27]:
%%sparksql

SELECT * FROM (SELECT dpr.*,
  dense_rank() OVER (PARTITION BY order_date ORDER BY revenue DESC) AS drnk
FROM daily_product_revenue AS dpr)
WHERE drnk <= 5
ORDER BY order_date, revenue DESC
LIMIT 35

only showing top 20 row(s)

23/04/03 21:36:11 ERROR AsyncEventQueue: Listener EventLoggingListener threw an exception
java.io.EOFException: End of File Exception between local host is: "master/192.168.56.50"; destination host is: "master":9000; : java.io.EOFException; For more details see:  http://wiki.apache.org/hadoop/EOFException
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.lang.reflect.Constructor.newInstance(Constructor.java:423)
	at org.apache.hadoop.net.NetUtils.wrapWithMessage(NetUtils.java:913)
	at org.apache.hadoop.net.NetUtils.wrapException(NetUtils.java:862)
	at org.apache.hadoop.ipc.Client.getRpcResponse(Client.java:1616)
	at org.apache.hadoop.ipc.Client.call(Client.java:1558)
	at org.apache.hadoop.ipc.Client.call(Client.java:1455)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Invoker.invoke(ProtobufRpcEngine2.java:242)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Invoker.invoke(ProtobufRpcEngine2.java:129)
	at com.sun.proxy.$Proxy33.updateBlockForPipeline(Unknown Source)
	at org.apache.hadoop.hdfs.protocolPB.ClientNamenodeProtocolTranslatorPB.updateBlockForPipeline(ClientNamenodeProtocolTranslatorPB.java:1101)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at org.apache.hadoop.io.retry.RetryInvocationHandler.invokeMethod(RetryInvocationHandler.java:422)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invokeMethod(RetryInvocationHandler.java:165)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invoke(RetryInvocationHandler.java:157)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invokeOnce(RetryInvocationHandler.java:95)
	at org.apache.hadoop.io.retry.RetryInvocationHandler.invoke(RetryInvocationHandler.java:359)
	at com.sun.proxy.$Proxy34.updateBlockForPipeline(Unknown Source)
	at org.apache.hadoop.hdfs.DataStreamer.updateBlockForPipeline(DataStreamer.java:1674)
	at org.apache.hadoop.hdfs.DataStreamer.setupPipelineInternal(DataStreamer.java:1550)
	at org.apache.hadoop.hdfs.DataStreamer.setupPipelineForAppendOrRecovery(DataStreamer.java:1529)
	at org.apache.hadoop.hdfs.DataStreamer.processDatanodeOrExternalError(DataStreamer.java:1305)
	at org.apache.hadoop.hdfs.DataStreamer.run(DataStreamer.java:668)
Caused by: java.io.EOFException
	at java.io.DataInputStream.readInt(DataInputStream.java:392)
	at org.apache.hadoop.ipc.Client$IpcStreams.readResponse(Client.java:1922)
	at org.apache.hadoop.ipc.Client$Connection.receiveRpcResponse(Client.java:1238)
	at org.apache.hadoop.ipc.Client$Connection.run(Client.java:1134)
23/04/03 21:36:11 ERROR TransportResponseHandler: Still have 1 requests outstanding when connection from /192.168.56.52:36448 is closed
23/04/03 21:36:11 ERROR YarnScheduler: Lost executor 2 on slave2: Executor Process Lost
23/04/03 21:36:11 ERROR TransportClient: Failed to send RPC RPC 8245218192325424821 to /192.168.56.52:36448: io.netty.channel.StacklessClosedChannelException
io.netty.channel.StacklessClosedChannelException
	at io.netty.channel.AbstractChannel$AbstractUnsafe.write(Object, ChannelPromise)(Unknown Source)
23/04/03 21:36:11 ERROR YarnScheduler: Lost executor 1 on slave1: Executor Process Lost
23/04/03 21:36:11 ERROR AsyncEventQueue: Listener EventLoggingListener threw an exception
java.io.EOFException: End of File Exception between local host is: "master/192.168.56.50"; destination host is: "master":9000; : java.io.EOFException; For more details see:  http://wiki.apache.org/hadoop/EOFException
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.lang.reflect.Constructor.newInstance(Constructor.java:423)
	at org.apache.hadoop.net.NetUtils.wrapWithMessage(NetUtils.java:913)
	at org.apache.hadoop.net.NetUtils.wrapException(NetUtils.java:862)
	at org.apache.hadoop.ipc.Client.getRpcResponse(Client.java:1616)
	at org.apache.hadoop.ipc.Client.call(Client.java:1558)
	at org.apache.hadoop.ipc.Client.call(Client.java:1455)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Invoker.invoke(ProtobufRpcEngine2.java:242)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Invoker.invoke(ProtobufRpcEngine2.java:129)
	at com.sun.proxy.$Proxy33.updateBlockForPipeline(Unknown Source)
	at org.apache.hadoop.hdfs.protocolPB.ClientNamenodeProtocolTranslatorPB.updateBlockForPipeline(ClientNamenodeProtocolTranslatorPB.java:1101)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at org.apache.hadoop.io.retry.RetryInvocationHandler.invokeMethod(RetryInvocationHandler.java:422)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invokeMethod(RetryInvocationHandler.java:165)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invoke(RetryInvocationHandler.java:157)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invokeOnce(RetryInvocationHandler.java:95)
	at org.apache.hadoop.io.retry.RetryInvocationHandler.invoke(RetryInvocationHandler.java:359)
	at com.sun.proxy.$Proxy34.updateBlockForPipeline(Unknown Source)
	at org.apache.hadoop.hdfs.DataStreamer.updateBlockForPipeline(DataStreamer.java:1674)
	at org.apache.hadoop.hdfs.DataStreamer.setupPipelineInternal(DataStreamer.java:1550)
	at org.apache.hadoop.hdfs.DataStreamer.setupPipelineForAppendOrRecovery(DataStreamer.java:1529)
	at org.apache.hadoop.hdfs.DataStreamer.processDatanodeOrExternalError(DataStreamer.java:1305)
	at org.apache.hadoop.hdfs.DataStreamer.run(DataStreamer.java:668)
Caused by: java.io.EOFException
	at java.io.DataInputStream.readInt(DataInputStream.java:392)
	at org.apache.hadoop.ipc.Client$IpcStreams.readResponse(Client.java:1922)
	at org.apache.hadoop.ipc.Client$Connection.receiveRpcResponse(Client.java:1238)
	at org.apache.hadoop.ipc.Client$Connection.run(Client.java:1134)
23/04/03 21:36:11 ERROR AsyncEventQueue: Listener EventLoggingListener threw an exception
java.io.EOFException: End of File Exception between local host is: "master/192.168.56.50"; destination host is: "master":9000; : java.io.EOFException; For more details see:  http://wiki.apache.org/hadoop/EOFException
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.lang.reflect.Constructor.newInstance(Constructor.java:423)
	at org.apache.hadoop.net.NetUtils.wrapWithMessage(NetUtils.java:913)
	at org.apache.hadoop.net.NetUtils.wrapException(NetUtils.java:862)
	at org.apache.hadoop.ipc.Client.getRpcResponse(Client.java:1616)
	at org.apache.hadoop.ipc.Client.call(Client.java:1558)
	at org.apache.hadoop.ipc.Client.call(Client.java:1455)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Invoker.invoke(ProtobufRpcEngine2.java:242)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Invoker.invoke(ProtobufRpcEngine2.java:129)
	at com.sun.proxy.$Proxy33.updateBlockForPipeline(Unknown Source)
	at org.apache.hadoop.hdfs.protocolPB.ClientNamenodeProtocolTranslatorPB.updateBlockForPipeline(ClientNamenodeProtocolTranslatorPB.java:1101)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at org.apache.hadoop.io.retry.RetryInvocationHandler.invokeMethod(RetryInvocationHandler.java:422)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invokeMethod(RetryInvocationHandler.java:165)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invoke(RetryInvocationHandler.java:157)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invokeOnce(RetryInvocationHandler.java:95)
	at org.apache.hadoop.io.retry.RetryInvocationHandler.invoke(RetryInvocationHandler.java:359)
	at com.sun.proxy.$Proxy34.updateBlockForPipeline(Unknown Source)
	at org.apache.hadoop.hdfs.DataStreamer.updateBlockForPipeline(DataStreamer.java:1674)
	at org.apache.hadoop.hdfs.DataStreamer.setupPipelineInternal(DataStreamer.java:1550)
	at org.apache.hadoop.hdfs.DataStreamer.setupPipelineForAppendOrRecovery(DataStreamer.java:1529)
	at org.apache.hadoop.hdfs.DataStreamer.processDatanodeOrExternalError(DataStreamer.java:1305)
	at org.apache.hadoop.hdfs.DataStreamer.run(DataStreamer.java:668)
Caused by: java.io.EOFException
	at java.io.DataInputStream.readInt(DataInputStream.java:392)
	at org.apache.hadoop.ipc.Client$IpcStreams.readResponse(Client.java:1922)
	at org.apache.hadoop.ipc.Client$Connection.receiveRpcResponse(Client.java:1238)
	at org.apache.hadoop.ipc.Client$Connection.run(Client.java:1134)
23/04/03 21:36:11 ERROR AsyncEventQueue: Listener EventLoggingListener threw an exception
java.io.EOFException: End of File Exception between local host is: "master/192.168.56.50"; destination host is: "master":9000; : java.io.EOFException; For more details see:  http://wiki.apache.org/hadoop/EOFException
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.lang.reflect.Constructor.newInstance(Constructor.java:423)
	at org.apache.hadoop.net.NetUtils.wrapWithMessage(NetUtils.java:913)
	at org.apache.hadoop.net.NetUtils.wrapException(NetUtils.java:862)
	at org.apache.hadoop.ipc.Client.getRpcResponse(Client.java:1616)
	at org.apache.hadoop.ipc.Client.call(Client.java:1558)
	at org.apache.hadoop.ipc.Client.call(Client.java:1455)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Invoker.invoke(ProtobufRpcEngine2.java:242)
	at org.apache.hadoop.ipc.ProtobufRpcEngine2$Invoker.invoke(ProtobufRpcEngine2.java:129)
	at com.sun.proxy.$Proxy33.updateBlockForPipeline(Unknown Source)
	at org.apache.hadoop.hdfs.protocolPB.ClientNamenodeProtocolTranslatorPB.updateBlockForPipeline(ClientNamenodeProtocolTranslatorPB.java:1101)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at org.apache.hadoop.io.retry.RetryInvocationHandler.invokeMethod(RetryInvocationHandler.java:422)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invokeMethod(RetryInvocationHandler.java:165)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invoke(RetryInvocationHandler.java:157)
	at org.apache.hadoop.io.retry.RetryInvocationHandler$Call.invokeOnce(RetryInvocationHandler.java:95)
	at org.apache.hadoop.io.retry.RetryInvocationHandler.invoke(RetryInvocationHandler.java:359)
	at com.sun.proxy.$Proxy34.updateBlockForPipeline(Unknown Source)
	at org.apache.hadoop.hdfs.DataStreamer.updateBlockForPipeline(DataStreamer.java:1674)
	at org.apache.hadoop.hdfs.DataStreamer.setupPipelineInternal(DataStreamer.java:1550)
	at org.apache.hadoop.hdfs.DataStreamer.setupPipelineForAppendOrRecovery(DataStreamer.java:1529)
	at org.apache.hadoop.hdfs.DataStreamer.processDatanodeOrExternalError(DataStreamer.java:1305)
	at org.apache.hadoop.hdfs.DataStreamer.run(DataStreamer.java:668)
Caused by: java.io.EOFException
	at java.io.DataInputStream.readInt(DataInputStream.java:392)
	at org.apache.hadoop.ipc.Client$IpcStreams.readResponse(Client.java:1922)
	at org.apache.hadoop.ipc.Client$Connection.receiveRpcResponse(Client.java:1238)
	at org.apache.hadoop.ipc.Client$Connection.run(Client.java:1134)